<div id="<%= dom_id task %>">
  <%= form_with model: task, data: { controller: "remote-submission" } do |form| %>
    <%= form.check_box :done, data: { action: "remote-submission#submit" } %>
    <%= form.submit %>
  <% end %>
  <%= task.title %> - <%= task.description %>
  <%= button_to image_tag("/images/trash.svg"), task, method: :delete %>
</div>
